<?xml version="1.0" encoding="UTF-8" ?>
<venta>
	     <titulo>
         <vendidos> </vendidos>
       </titulo>
       <cantidad>
         <total> </total>
       </cantidad>
       <entregado>
         <realizado> </realizado>
       </entregado>
       <moneda>S
         <tipo> </tipo>
       </moneda>
</venta>

<compra>
  <titulo>
    <comprados> </comprados>
  </titulo>
  <provedor> Ancianos S.A. <provedor>
  <fecha>
    <dia> </dia>
    <mes> </mes>
    <ano> </ano>
  </fecha>
</compra>
